h2 {
  font-size: 54px;
  line-height: 54px;
}

p, li {
  margin: 40px auto;
  font-size: 18px;
  line-height: 18px;
  color: #d2d2d2;
}

ul {
  width: 200px;
  margin: 50px auto;
  list-style: disc;
}

pre {
  width: 450px;
}

.slide-container {
  left: 0;
  top: 50%;
  margin-top: -260px;
  position: absolute;
  width: 100%;
}

.slide-widget-container {
  width: 500px;
  margin: 0 auto;
}

.slide {
  height: 500px;
}

.hero img {
  float: left;
  width: 250px;
}

.hero p {
  float: right;
  width: 230px;
  height: 100px;
  padding: 10px;
  margin: 0;
}

.hero {
  height: 100px;
  background-color: #000;
  margin: 40px 0;
}
